.container
    display: flex
    flex-direction: column
    margin-top: 10%

    h1
        text-transform: uppercase
        margin-bottom: 20px

    .ul-cards-info
        list-style: none
        border: 1px solid
        width: 250px
        margin-bottom: 10px

        li
            padding: 1px

            span
                font-weight: bold